epel:
  lookup:
    # URL to the EPEL RPM to install
    rpm: default varies with OS; see epel/init.sls

    # URL to the EPEL GPG key
    key: default varies with OS; see epel/map.jinja
    key_hash: default varies with OS; see epel/map.jinja

    # filename for the local EPEL Key
    key_name: default varies with OS; see epel/map.jinja

    # Disable repo so requires the --enablerepo flag to use
    disabled: false
